In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
df = pd.read_csv('data/kc_house_Data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

### removing bad data from df

In [4]:
df.iloc[15856, :]

id               2402100895
date              6/25/2014
price                640000
bedrooms                 33
bathrooms              1.75
sqft_living            1620
sqft_lot               6000
floors                    1
waterfront               NO
view                   NONE
condition         Very Good
grade             7 Average
sqft_above             1040
sqft_basement         580.0
yr_built               1947
yr_renovated              0
zipcode               98103
lat                 47.6878
long               -122.331
sqft_living15          1330
sqft_lot15             4700
Name: 15856, dtype: object

In [5]:
# removing index 15856 because the number of rooms compared to the 
# square feet of the residence is irrational
df = df.drop(15856, axis=0)

In [6]:
# remove rows where the sqtf_living does not make sense compared to 
# sqft lot
idx = df[(df['sqft_lot']) < (df['sqft_living'] / df['floors'])].index
df = df.drop(idx, axis=0)

### dropping unnecessary columns from df

In [7]:
df = df.drop(['date', 'id'], axis=1)
df = df.drop('waterfront', axis=1)

In [16]:
df.isna().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

### take care of NaNs

In [9]:
# fill 63 NaNs in the view columns with 'NONE'
# because 'NONE' is by far the most common value in view column
df['view'] = df['view'].fillna('NONE')

In [10]:
df['yr_renovated'] = df['yr_renovated'].fillna(0)

In [11]:
df.isna().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [12]:
# replace '?' in sqft_basement with mean value from sqft_basement
df['sqft_basement'] = df['sqft_basement'].replace('?', np.nan)
df['sqft_basement'] = df['sqft_basement'].astype(float)
sqft_basement_mean = int(df[df['sqft_basement'] > 0]['sqft_basement'].mean())
df['sqft_basement'] = df['sqft_basement'].fillna(sqft_basement_mean)

In [13]:
master_df = df.copy()

In [15]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21588 entries, 0 to 21596
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21588 non-null  float64
 1   bedrooms       21588 non-null  int64
 2   bathrooms      21588 non-null  float64
 3   sqft_living    21588 non-null  int64
 4   sqft_lot       21588 non-null  int64
 5   floors         21588 non-null  float64
 6   view           21588 non-null  object
 7   condition      21588 non-null  object
 8   grade          21588 non-null  object
 9   sqft_above     21588 non-null  int64
 10  sqft_basement  21588 non-null  float64
 11  yr_built       21588 non-null  int64
 12  yr_renovated   21588 non-null  float64
 13  zipcode        21588 non-null  int64
 14  lat            21588 non-null  float64
 15  long           21588 non-null  float64
 16  sqft_living15  21588 non-null  int64
 17  sqft_lot15     21588 non-null  int64
dtypes: float64(7), int64(8), object(3)
memory usage: 3.1+ MB